<header class="oj-header">
    <div class="container">
        <h1 class="logo">Leaf <span class="highlight">OJ</span></h1>
        <nav class="main-nav">
            <ul>
                <li class="{% if request.path == '/' %}special-nav-item{% endif %}"><a href="{%url 'leaf_oj:index'%}">首页</a></li>
                <li class="{% if request.path == '/problems' or request.path == '/problems/' %}special-nav-item{% endif %}"><a href="{%url 'leaf_oj:problems'%}">题库</a></li>
                <li><a href="">竞赛</a></li>
                <li><a href="">排名</a></li>
                <li><a href="">讨论</a></li>
                {% if user.is_authenticated %}
                    <div class="user-panel">
                        <li style="position: absolute;right: 20px;top: 50%;transform: translateY(-50%);cursor: pointer;"><a a href="">{{ user.username }}</a></li>
                        <div class="dropdown-menu">
                            <button class="logout-btn"><a style="color: black;" href="{%url 'leaf_oj:logout'%}">登出</a></button>
                        </div>
                    </div>
                {% else %}
                    <li class="login-btn"><a href="{%url 'leaf_oj:login'%}">登录/注册</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<main>{% block content %}{% endblock content %}</main>