<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf OJ | 登录</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'leaf_oj/css/style.css' %}">
</head>
<body>
    <div class="containers">
        {% include 'leaf_oj/base_header.html' %}

        {% block content%}
        <section class="problem-section">
            <div class="container">
                <div class="problem-detail-header">
                    <h2>登录</h2>
                </div>

                <div class="sections-card">
                    <form method="post" action="{% url 'leaf_oj:login' %}">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="id_username" class="form-label">
                                <i class="input-label"></i>用户名
                            </label>
                            <input type="text" name="username" class="form-control form-control-lg" id="id_username" required autofocus>
                            <span class="underline"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_password" class="form-label">
                                <i class="input-label"></i>密码
                            </label>
                            <input type="password" name="password" class="form-control form-control-lg" id="id_password" required>
                            <span class="underline"></span>
                        </div>
                        {% if form.errors %}
                            <h5 style="color: red;">用户名或密码错误<h5>
                        {% endif %}
                        
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary btn-lg" type="submit">
                                <i class="bi bi-box-arrow-in-right me-2"></i>登录
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        {% endblock content%}

        {% include 'leaf_oj/base_footer.html' %}
    </div>
</body>
</html>